.menubar {
  clear:both;
  border-bottom: 3px solid gainsboro;
  margin-left: 0%;
  margin-right: 0px;
  padding-left: 0%;
  padding-right: 0px;

}

.titleHdg {
  color: black;
  font-weight: bold;
  border-right : 4px solid gainsboro;
  padding: 0px;
  margin: 0px;


}
